name: Publish NuGet Package

on:
  push:
    tags:
      - 'v*' 

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '8.0.x'

      - name: Restore dependencies
        run: dotnet restore TM.SecureApiKit/TM.SecureApiKit.csproj

      - name: Build (génère le .nupkg automatiquement)
        run: dotnet build TM.SecureApiKit/TM.SecureApiKit.csproj --configuration Release

      - name: Push to NuGet
        run: dotnet nuget push TM.SecureApiKit/bin/Release/*.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }}

      - name: Add GitHub Packages source
        run: dotnet nuget add source "https://nuget.pkg.github.com/QcCodingBear/index.json" --name "github" --username QcCodingBear --password ${{ secrets.GITHUB_TOKEN }} --store-password-in-clear-text

      - name: Push to GitHub Packages
        run: dotnet nuget push TM.SecureApiKit/bin/Release/*.nupkg --source "github" --skip-duplicate
        env:
           GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
